<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Blog App</title>
    <link rel="stylesheet" th:href="@{/stylesheet.css}">
</head>
<body>

<header>
    <div class="topnav">
        <a class="home" th:href="@{/}">Home</a>
        <span>
            <a class="left" th:href="@{/new_post}">New Post</a>
        </span>
        <span>
            <a class="right" >Log In</a>
            <a class="right" >Sign Up</a>
        </span>
        <span>
            <a class="right">Upload files</a>
        </span>
    </div>
    <div class="header">
        <h2>Blog app</h2>
    </div>
</header>

<div class="container">

    <div class="comments">
        <h2>Comments</h2>
        <div class="comment" th:each="comment : ${comments}">
            <!--    <h4 th:text="'Commented on ' + ${#dates.format(comment.creationDate, 'yyyy-MM-dd')}">Comment date</h4> -->
            <p th:text="${comment.body}">Comment body</p>
            <h5 th:text="'Published by ' + ${comment.user}">Post author</h5>
        </div>
    </div>
</div>

<footer>
    <div class="footer">
        <p>Michał Milewski</p>
    </div>
</footer>

</body>
</html>